body{
    margin: 0;
    font-family: 'Poppins';
    font-size: 18px;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-family: 'Yeseva One', cursive;
    font-weight: 500;
    font-size: 70px;
    line-height: 50px;
}
h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 25px;
}
a{
        margin-top:  ;
        display: inline-block;
        text-decoration: none;
        background-color: orange;
        color: white;
        padding: 10px 25px;
        border-radius: 5px;
}
.section-1{
    display: flex;
}
.justify{
    text-align: justify;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.margin-top{
    margin-top: 150px;
}
.lightBlueColor{
    color: rgb(49, 120, 196);
}
.half-width img{
    width: 500px;
}
.focused-div{
    padding-left: 8px;
    border-left: 5px solid;
    border-left-color: rgb(247, 190, 4);
}
.exploreBtn{
    margin: 30px 0px;
}
.myMissionFont{
    text-align: center;
    font-family: 'Poppins';
    font-size: 50px;
    font-weight: 700;
}
.myMissionDiv{
    margin: 100px 0px 50px;
}
.section-2{
    display: flex;
    margin-left: 160px;
    margin-right: 160px;
}
.mission-2022{
    margin: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 40px;
}
.mission-2022 img{
    width: 200px;
}
.block-1-bgColor{
    background-color: #e6f9fc;
}
.block-2-bgColor{
    background-color: #FFD6D6;
}
.block-3-bgColor{
    background-color: #FFF4D6;
}
.section-3{
    display: flex;
    margin-top: 100px;
    margin-left: 190px;
    margin-right: 190px;
}
.section-3 p{
    padding-bottom: 10px;
}
.codingImage img{
    width: 600px;
}
.develop-W-lmits{
    margin-top: 40px;
    margin-left: 100px;
}
.section-4{
    display: flex;
    margin-top: 100px;
    margin-left: 190px;
    margin-right: 190px;

}
.section-4-div{
    padding-right: 70px;
}
.section-4-div p{
    padding-bottom: 20px;
}
.projectImage img{
    width: 600px;
}
.section-5{
    display: flex;
    margin-top: 100px;
    margin-left: 190px;
    margin-right: 190px;
    margin-bottom: 100px;
}
.onlineShopFont{
    text-align: center;
    font-family: 'Poppins';
    font-size: 50px;
    font-weight: 700;
}
#onlineTitle{
    text-align: left;
}
.shopImage img{
    margin-top: 20px;
    margin-left: 190px;
    margin-right: 200px;
    width: 500px;
}
.section-5 p{
    margin-bottom: 40px;
}
.onlineDiv{
    margin-top: 100px;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px 0px;
}
footer h1{
    font-family: 'Lobster', cursive;
    font-size: 40px;
}
footer p{
    font-size: 16px;
}
#copyright{
    padding-top: 30px;
    color: rgb(187, 128, 19);
}
